#main-div{
  width: 55%;
  height: fit-content ;
}
#product-list{
  display: grid;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  grid-template-columns: 330px 330px 330px ;
}

.product {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: fit-content;
  
  max-height: 420px;
  padding: 1rem;

}

#empty{
  font-size: 2rem;
}

.product img{
  margin: 0 auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 300px;
  padding: 0 1.4rem;
}

.product-description h2 {
  font-weight: 500;
  font-size: 1.9rem; 
  line-height: 2rem;
  padding: 0 1rem;
  text-align: center;
  height: 45px;
  overflow: hidden;
}

.product-description p{
  font-size: 2rem;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

.product-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.product-controls button {
  font-size: 2rem;
  width: 60px;
  height: 35px;
  color:white;
  border: 0;
  background: lightseagreen;
}

.product-controls input{
  height: 33px;
  width: 85px;
  text-align: center;
}

.product-controls .delete{
  width: 80px;
  background: #e0ceac;
  font-size: 1.2rem;
  color: darkgreen;
  margin-right: 10px;
}

.botonpago {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
}

.botonpago:hover {
    opacity: 1
}






