/* ----------- */
/* Fondo */

body{
    background-color: #3bb2b8;
    background: linear-gradient(
    45deg,
    rgba(192, 260, 240, 1),
    rgba(235, 190, 149, 1)
    );
    background-repeat: no-repeat;
}

/* ----------- */
/* Barra Superior */
.header-top {
    width: 100vw;
    height: 50px;
    position: fixed;
    font-size: 2rem;
    color: white;
    top: 0;
    left: 0;
    background-color: #3bb2b8;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 10;
}
@media (max-width: 1042px) {
    #search-field > header {
        display: none;
    }

    .header-top {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px){
    #hi {
        display: none;
    }
}

#search-field {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

#search-field > header {
    margin-right: 20px;
    font-size: 3rem;
}

.search-bar {
    background: rgb(201, 250, 242);
    font-size: 1.8rem;
    width: 26rem;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.btn {
    
    font-size: 1.8rem;
    border: none;
    padding: 5px 10px;
}

.search-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(123, 224, 137);
    margin-left: -5px;
}

.search-button:hover {
    background-color: rgb(246, 179, 124);
}

.user-actions {
    list-style: none;
    display: flex;
    
    padding-right: 4rem;
}

.user-actions li {
    margin: 0 2rem;
}


/* Barra de categorías */

.header-bottom {
    background: #7CAC9F;
    padding: 0.4rem;
    margin-top: 40px;
}
.header-bottom ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
}

.header-bottom ul li {
    margin: 1.2rem;
    font-size: 1.8rem;
}

.header-bottom a{
    color: white;
}