*{
    margin:0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'sans-serif';
}

/* ----------- */
/* Fondo */

body{
    background-color: #3bb2b8;
    background: linear-gradient(
    45deg,
    rgba(192, 260, 240, 1),
    rgba(235, 190, 149, 1)
    );
    background-repeat: no-repeat;
}

/* ----------- */
/* Barra Busqueda */

.header-top{
    display: flex;
    align-items: baseline;
    
	background: #379C9F;
    padding: 0.6rem;
}

.header-top p{
    font-size: 3.2rem;
    margin: 0.8rem;
    color: white;    
}

.header-top form{
    margin-left: 2rem;
    width: 60%;
    padding-bottom: 1rem;
}
.search-bar{
    padding: 1rem 0;
    margin: 0;
    
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 0;
    border-radius: 0.2rem;
    width: 80%;
}

.header-top input[type='submit']{
    /* Search button*/
    display: relative;
 
    font-size: 1.4rem;
    height: 3.9rem;
    border-radius: 0.2rem;
    border: 0;
    min-width: 10%;
    background: yellowgreen;
    color:darkgreen;
}

.header-top ul{
    list-style: none;
    display: flex;
    font-size: 1.7rem;
}

.header-top ul a{
    color: white;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding: 3rem;
}

/* Barra de categorías */

.header-bottom {
    background: #7CAC9F;
}
.header-bottom ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}

.header-bottom ul li {
    margin: 1.2rem;
    font-size: 1.8rem;
}

.header-bottom a{
    color: white;
}


/*  ----------------------- */
/*-- Cuadros de Productos -- */


.title-section {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.4rem;
}
.product-section{
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.producto-home{
    margin: 2rem;
    padding: 1.4rem;
    background: white;
    width: 40rem;
  
    display: flex;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.producto-home div.description-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.producto-home p.title{
    font-size: 1.6rem;
}

.description-buttons button{
    font-size: 1.4rem;
    margin: 0;
    border: 0;
    border-radius: 1rem;
    padding: 0.7rem;
}


/* ----------- */
/* Footer */

.pie-pagina{
    width: 100%;
    background-color: #379C9F;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}